<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>Dirigible Runtime</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- Core -->

	<listener>
		<listener-class>com.sap.dirigible.runtime.registry.ContextLoaderListener</listener-class>
	</listener>

	<!-- JavaScript Execution Servlet -->
	<servlet>
		<description>Java Script Servlet</description>
		<display-name>Java Script Servlet</display-name>
		<servlet-name>JavaScriptServlet</servlet-name>
		<servlet-class>com.sap.dirigible.runtime.js.JavaScriptServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JavaScriptServlet</servlet-name>
		<url-pattern>/js/*</url-pattern>
		<url-pattern>/js-secured/*</url-pattern>
		<url-pattern>/js-sandbox/*</url-pattern>
	</servlet-mapping>
	
	<!-- Java Execution Servlet -->
	<servlet>
		<description>Java Servlet</description>
		<display-name>Java Servlet</display-name>
		<servlet-name>JavaServlet</servlet-name>
		
		<servlet-class>com.sap.dirigible.runtime.java.JavaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JavaServlet</servlet-name>
		<url-pattern>/java/*</url-pattern>
		<url-pattern>/java-secured/*</url-pattern>
		<url-pattern>/java-sandbox/*</url-pattern>
	</servlet-mapping>
	

	<!-- Ruby Execution Servlet  
	<servlet>
		<description>Ruby Servlet</description>
		<display-name>Ruby Servlet</display-name>
		<servlet-name>RubyServlet</servlet-name>
		<servlet-class>com.sap.dirigible.runtime.ruby.RubyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RubyServlet</servlet-name>
		<url-pattern>/rb/*</url-pattern>
		<url-pattern>/rb-secured/*</url-pattern>
		<url-pattern>/rb-sandbox/*</url-pattern>
	</servlet-mapping>
	-->

	<!-- Groovy Execution Servlet -->
	<servlet>
		<description>Groovy Servlet</description>
		<display-name>Groovy Servlet</display-name>
		<servlet-name>GroovyServlet</servlet-name>
		<servlet-class>com.sap.dirigible.runtime.groovy.GroovyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GroovyServlet</servlet-name>
		<url-pattern>/groovy/*</url-pattern>
		<url-pattern>/groovy-secured/*</url-pattern>
		<url-pattern>/groovy-sandbox/*</url-pattern>
	</servlet-mapping>
	

	<!-- Test Cases in JavaScript Execution Servlet -->
	<servlet>
		<description>Test Cases Servlet</description>
		<display-name>Test Cases Servlet</display-name>
		<servlet-name>TestCasesServlet</servlet-name>
		<servlet-class>com.sap.dirigible.runtime.js.TestCasesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestCasesServlet</servlet-name>
		<url-pattern>/test/*</url-pattern>
		<url-pattern>/test-sandbox/*</url-pattern>
	</servlet-mapping>

	<!-- Registry Browse Servlet -->
	<servlet>
		<description>Registry Servlet</description>
		<display-name>Registry Servlet</display-name>
		<servlet-name>RegistryServlet</servlet-name>
		<servlet-class>com.sap.dirigible.runtime.registry.RegistryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistryServlet</servlet-name>
		<url-pattern>/registry/*</url-pattern>
		<url-pattern>/content/*</url-pattern>
	</servlet-mapping>

	<!-- Repository RESTfull Service Servlet -->
	<servlet>
		<description>Repository Servlet</description>
		<display-name>Repository Servlet</display-name>
		<servlet-name>RepositoryServlet</servlet-name>
		<servlet-class>com.sap.dirigible.runtime.registry.RepositoryServlet</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>RepositoryServlet</servlet-name>
		<url-pattern>/repository/*</url-pattern>
	</servlet-mapping>

	<!-- Registry for WebContent Servlet -->
	<servlet>
		<description>Web Registry Servlet</description>
		<display-name>Web Registry Servlet</display-name>
		<servlet-name>WebRegistryServlet</servlet-name>
		<servlet-class>com.sap.dirigible.runtime.web.WebRegistryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WebRegistryServlet</servlet-name>
		<url-pattern>/web/content/*</url-pattern>
		<url-pattern>/web/content-secured/*</url-pattern>
		<url-pattern>/web/*</url-pattern>
		<url-pattern>/web-secured/*</url-pattern>
		<url-pattern>/web-sandbox/*</url-pattern>
	</servlet-mapping>

	<!-- Registry for JavaScript Endpoints Servlet -->
	<servlet>
		<description>JavaScript Registry Servlet</description>
		<display-name>JavaScript Registry Servlet</display-name>
		<servlet-name>JavaScriptRegistryServlet</servlet-name>
		<servlet-class>com.sap.dirigible.runtime.registry.JavaScriptRegistryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JavaScriptRegistryServlet</servlet-name>
		<url-pattern>/scripting/javascript/*</url-pattern>
		<url-pattern>/registry-js/*</url-pattern>
	</servlet-mapping>

	<!-- Registry for Ruby Endpoints Servlet 
	<servlet>
		<description>Ruby Registry Servlet</description>
		<display-name>Ruby Registry Servlet</display-name>
		<servlet-name>RubyRegistryServlet</servlet-name>
		<servlet-class>com.sap.dirigible.runtime.registry.RubyRegistryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RubyRegistryServlet</servlet-name>
		<url-pattern>/scripting/ruby/*</url-pattern>
		<url-pattern>/registry-rb/*</url-pattern>
	</servlet-mapping>
	-->

	<!-- Registry for Groovy Endpoints Servlet -->
	<servlet>
		<description>Groovy Registry Servlet</description>
		<display-name>Groovy Registry Servlet</display-name>
		<servlet-name>GroovyRegistryServlet</servlet-name>
		<servlet-class>com.sap.dirigible.runtime.registry.GroovyRegistryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GroovyRegistryServlet</servlet-name>
		<url-pattern>/scripting/groovy/*</url-pattern>
		<url-pattern>/registry-groovy/*</url-pattern>
	</servlet-mapping>
	

	<!-- Registry for Test Cases in JavaScript Endpoints Servlet -->
	<servlet>
		<description>Test Cases Registry Servlet</description>
		<display-name>Test Cases Registry Servlet</display-name>
		<servlet-name>TestCasesRegistryServlet</servlet-name>
		<servlet-class>com.sap.dirigible.runtime.registry.TestCasesRegistryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestCasesRegistryServlet</servlet-name>
		<url-pattern>/scripting/tests/*</url-pattern>
		<url-pattern>/registry-tc/*</url-pattern>
	</servlet-mapping>

	<!-- Registry for WikiContent Servlet -->
	<servlet>
		<description>Wiki Registry Servlet</description>
		<display-name>Wiki Registry Servlet</display-name>
		<servlet-name>WikiRegistryServlet</servlet-name>
		<servlet-class>com.sap.dirigible.runtime.wiki.WikiRegistryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WikiRegistryServlet</servlet-name>
		<url-pattern>/web/wiki/*</url-pattern>
		<url-pattern>/web/wiki-secured/*</url-pattern>
		<url-pattern>/wiki/*</url-pattern>
		<url-pattern>/wiki-secured/*</url-pattern>
		<url-pattern>/wiki-sandbox/*</url-pattern>
	</servlet-mapping>

	<!-- Predefined Content Loader Servlet -->
	<servlet>
		<description>Content Initializer Servlet</description>
		<display-name>Content Initializer Servlet</display-name>
		<servlet-name>ContentInitializerServlet</servlet-name>
		<servlet-class>com.sap.dirigible.runtime.content.ContentInitializerServlet</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContentInitializerServlet</servlet-name>
		<url-pattern>/content-init/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>Content Exporter Servlet</description>
		<display-name>Content Exporter Servlet</display-name>
		<servlet-name>ContentExporterServlet</servlet-name>
		<servlet-class>com.sap.dirigible.runtime.content.ContentExporterServlet</servlet-class>
		<load-on-startup>12</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContentExporterServlet</servlet-name>
		<url-pattern>/export/*</url-pattern>
	</servlet-mapping>

	<!-- Operational Servlet -->
	<servlet>
		<description>Operational Servlet</description>
		<display-name>Operational Servlet</display-name>
		<servlet-name>OperationalServlet</servlet-name>
		<servlet-class>com.sap.dirigible.runtime.registry.OperationalServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OperationalServlet</servlet-name>
		<url-pattern>/op</url-pattern>
	</servlet-mapping>

	<!-- Memory Reporter Servlet -->
	<servlet>
		<description></description>
		<display-name>MemoryServlet</display-name>
		<servlet-name>MemoryServlet</servlet-name>
		<servlet-class>com.sap.dirigible.runtime.memory.MemoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemoryServlet</servlet-name>
		<url-pattern>/memory</url-pattern>
	</servlet-mapping>

	<!-- Text Search Servlet -->
	<servlet>
		<description>Search Servlet</description>
		<display-name>Search Servlet</display-name>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>com.sap.dirigible.runtime.search.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/search/*</url-pattern>
	</servlet-mapping>

	<!-- Logging Servlet -->
	<servlet>
		<description>Logging Servlet</description>
		<display-name>Logging Servlet</display-name>
		<servlet-name>LoggingServlet</servlet-name>
		<servlet-class>com.sap.dirigible.runtime.logging.LoggingServlet</servlet-class>
		<init-param>
			<param-name>initLoggingDirectory</param-name>
			<param-value>log</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoggingServlet</servlet-name>
		<url-pattern>/logging</url-pattern>
	</servlet-mapping>
	
	<!-- JavaScript Debug Execution Servlet 
	<servlet>
		<description>Java Script Debug Servlet</description>
		<display-name>Java Script Debug Servlet</display-name>
		<servlet-name>JavaScriptDebugServlet</servlet-name>
		<servlet-class>com.sap.dirigible.runtime.js.debug.JavaScriptDebugServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JavaScriptDebugServlet</servlet-name>
		<url-pattern>/js-debug/*</url-pattern>
	</servlet-mapping>
	-->
	
	<!-- Access Log Servlet -->
	<servlet>
		<description>Access Log Servlet</description>
		<display-name>Access Log Servlet</display-name>
		<servlet-name>AccessLogServlet</servlet-name>
		<servlet-class>com.sap.dirigible.runtime.metrics.AccessLogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessLogServlet</servlet-name>
		<url-pattern>/acclog/*</url-pattern>
	</servlet-mapping>



	<!-- Filters -->
	
	<filter>
		<filter-name>AccessLogFilter</filter-name>
		<filter-class>com.sap.dirigible.runtime.filter.AccessLogFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AccessLogFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>XSSFilter</filter-name>
		<filter-class>com.sap.dirigible.runtime.filter.XSSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>XSSFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>RegistrySecureRolesFilter</filter-name>
		<filter-class>com.sap.dirigible.runtime.filter.RegistrySecureRolesFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RegistrySecureRolesFilter</filter-name>
		<url-pattern>/web-secured/*</url-pattern>
		<url-pattern>/js-secured/*</url-pattern>
		<url-pattern>/js-debug/*</url-pattern>
		<url-pattern>/rb-secured/*</url-pattern>
		<url-pattern>/py-secured/*</url-pattern>
		<url-pattern>/groovy-secured/*</url-pattern>
		<url-pattern>/wiki-secured/*</url-pattern>
		<url-pattern>/web-sandbox/*</url-pattern>
		<url-pattern>/js-sandbox/*</url-pattern>
		<url-pattern>/rb-sandbox/*</url-pattern>
		<url-pattern>/py-sandbox/*</url-pattern>
		<url-pattern>/groovy-sandbox/*</url-pattern>
		<url-pattern>/wiki-sandbox/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>WebRegistrySecureFilter</filter-name>
		<filter-class>com.sap.dirigible.runtime.filter.WebRegistrySecureFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>WebRegistrySecureFilter</filter-name>
		<url-pattern>/web/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>JavaScriptRegistrySecureFilter</filter-name>
		<filter-class>com.sap.dirigible.runtime.filter.JavaScriptRegistrySecureFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>JavaScriptRegistrySecureFilter</filter-name>
		<url-pattern>/js/*</url-pattern>
	</filter-mapping>

	<!-- Ruby Secure Filter 
	<filter>
		<filter-name>RubyRegistrySecureFilter</filter-name>
		<filter-class>com.sap.dirigible.runtime.filter.RubyRegistrySecureFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RubyRegistrySecureFilter</filter-name>
		<url-pattern>/rb/*</url-pattern>
	</filter-mapping>
	-->

	<!-- Groovy Secure Filter -->
	<filter>
		<filter-name>GroovyRegistrySecureFilter</filter-name>
		<filter-class>com.sap.dirigible.runtime.filter.GroovyRegistrySecureFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GroovyRegistrySecureFilter</filter-name>
		<url-pattern>/groovy/*</url-pattern>
	</filter-mapping>
	

	<filter>
		<filter-name>WikiRegistrySecureFilter</filter-name>
		<filter-class>com.sap.dirigible.runtime.filter.WikiRegistrySecureFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>WikiRegistrySecureFilter</filter-name>
		<url-pattern>/wiki/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>com.sap.dirigible.runtime.filter.CorsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>SandboxFilter</filter-name>
		<filter-class>com.sap.dirigible.runtime.filter.SandboxFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SandboxFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<!-- ESB 

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/beans.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.sap.dirigible.runtime.agent.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.sap.dirigible.runtime.js.debug.DebugGlobalManager</listener-class>
	</listener>

	<servlet>
		<description></description>
		<display-name>ConfigurationAgent</display-name>
		<servlet-name>ConfigurationAgent</servlet-name>
		<servlet-class>com.sap.dirigible.runtime.agent.ConfigurationAgent</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>CamelServlet</servlet-name>
		<servlet-class>org.apache.camel.component.servlet.CamelHttpTransportServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CamelServlet</servlet-name>
		<url-pattern>/camel/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>com.sap.dirigible.runtime.esb.CXFServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/ws/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>StatusServlet</display-name>
		<servlet-name>StatusServlet</servlet-name>
		<servlet-class>com.sap.dirigible.runtime.esb.StatusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StatusServlet</servlet-name>
		<url-pattern>/status</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ContextServlet</display-name>
		<servlet-name>ContextServlet</servlet-name>
		<servlet-class>com.sap.dirigible.runtime.esb.ContextServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContextServlet</servlet-name>
		<url-pattern>/context</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MessagingServlet</display-name>
		<servlet-name>MessagingServlet</servlet-name>
		<servlet-class>com.sap.dirigible.runtime.esb.MessagingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessagingServlet</servlet-name>
		<url-pattern>/messaging</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RoutesServlet</display-name>
		<servlet-name>RoutesServlet</servlet-name>
		<servlet-class>com.sap.dirigible.runtime.esb.RoutesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoutesServlet</servlet-name>
		<url-pattern>/routes</url-pattern>
	</servlet-mapping>

	-->

	<resource-ref>
  		<res-ref-name>mail/SAPInternalNWCloudSession</res-ref-name>
  	    <res-type>javax.mail.Session</res-type>
  	</resource-ref>
  	
  	
	<!-- Security -->
<!--
	<resource-ref>
		<res-ref-name>PasswordStorage</res-ref-name>
		<res-type>com.sap.jpaas.service.securestore.password.PasswordStorage</res-type>
	</resource-ref>
-->	
	<login-config>
		<auth-method>FORM</auth-method>
	</login-config>
	
	<!-- Registry Services -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Protected Area</web-resource-name>
			<url-pattern>/registry/DataStructures/*</url-pattern>
			<url-pattern>/registry/IntegrationServices/*</url-pattern>
			<url-pattern>/registry/ScriptingServices/*</url-pattern>
			<url-pattern>/registry/WebContent/*</url-pattern>
			<url-pattern>/content/DataStructures/*</url-pattern>
			<url-pattern>/content/IntegrationServices/*</url-pattern>
			<url-pattern>/content/ScriptingServices/*</url-pattern>
			<url-pattern>/content/WebContent/*</url-pattern>
			<url-pattern>/web-secured/*</url-pattern>
			<url-pattern>/web/content-secured/*</url-pattern>
			<url-pattern>/js-secured/*</url-pattern>
			<!-- Ruby 
			<url-pattern>/rb-secured/*</url-pattern>
			<url-pattern>/rb-sandbox/*</url-pattern>
			-->
			<!-- Groovy -->
			<url-pattern>/groovy-secured/*</url-pattern>
			<url-pattern>/groovy-sandbox/*</url-pattern>
			
			<url-pattern>/wiki-secured/*</url-pattern>
			<url-pattern>/web/wiki-secured/*</url-pattern>
			<url-pattern>/index.html</url-pattern>
			<url-pattern>/js-sandbox/*</url-pattern>
			<url-pattern>/web-sandbox/*</url-pattern>
			<url-pattern>/wiki-sandbox/*</url-pattern>
			<url-pattern>/acclog/*</url-pattern>
			<url-pattern>/memory</url-pattern>
			<url-pattern>/js-debug/*</url-pattern>
			<url-pattern>/export/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Everyone</role-name>
			<role-name>Administrator</role-name>
			<role-name>Manager</role-name>
			<role-name>PowerUser</role-name>
			<role-name>User</role-name>
			<role-name>ReadWrite</role-name>
			<role-name>ReadOnly</role-name>
		</auth-constraint>
	</security-constraint>
	
	<!-- Repository Service -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Repository Service</web-resource-name>
			<url-pattern>/repository/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Repository</role-name>
		</auth-constraint>
	</security-constraint>
	
	<!-- Security Roles -->
	<security-role>
		<description>All SAP HANA Cloud Users</description>
		<role-name>Everyone</role-name>
	</security-role>
	<security-role>
		<description>Predefined Role For Applications</description>
		<role-name>Administrator</role-name>
	</security-role>	
	<security-role>
		<description>Predefined Role For Applications</description>
		<role-name>Manager</role-name>
	</security-role>
	<security-role>
		<description>Predefined Role For Applications</description>		
		<role-name>PowerUser</role-name>
	</security-role>
	<security-role>
		<description>Predefined Role For Applications</description>
		<role-name>User</role-name>
	</security-role>
	<security-role>
		<description>Predefined Role For Applications</description>
		<role-name>ReadWrite</role-name>
	</security-role>
	<security-role>
		<description>Predefined Role For Applications</description>
		<role-name>ReadOnly</role-name>
	</security-role>
	<security-role>
		<description>Repository Service Access</description>
		<role-name>Repository</role-name>
	</security-role>
	
</web-app>
