<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
           id="ContentInitializerServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/contentinit"
              class="com.sap.dirigible.runtime.content.ContentInitializerServlet"
              load-on-startup="true">
        </servlet>
     </extension>
   
     <extension
           id="JavaScriptServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/js"
              class="com.sap.dirigible.runtime.js.JavaScriptServlet"
              load-on-startup="true">
        </servlet>
     </extension>
          
</plugin>
