<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sap.dirigible.ide.publish.publisher">
      <publisher
            class="com.sap.dirigible.ide.ui.publish.UiPublisher"
            id="com.sap.dirigible.ide.ui.publish.UiPublisher">
      </publisher>
      <publisher
            class="com.sap.dirigible.ide.ui.publish.WikiPublisher"
            id="com.sap.dirigible.ide.ui.publish.WikiPublisher">
      </publisher>
   </extension>

</plugin>
