<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.sap.dirigible.ide.template.ui.db.command.DataStructureCommandHandler"
            id="com.sap.dirigible.ide.template.ui.db.command.DataStructureCommandHandler"
            name="Data Structure">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.sap.dirigible.ide.workspace.ui.view.Menu.new?after=separator.custom">
         <command
               commandId="com.sap.dirigible.ide.template.ui.db.command.DataStructureCommandHandler"
               icon="icons/wizard_data-structure.png"
               label="Data Structure"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.sap.dirigible.ide.workspace.ui.view.Menu.new?after=separator.custom">
         <command
               commandId="com.sap.dirigible.ide.template.ui.db.command.DataStructureCommandHandler"
               icon="icons/wizard_data-structure.png"
               label="Data Structure"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="com.sap.dirigible.ide.template.type">
      <template
            category="DataStructures"
            image="/icons/table.png"
            location="/com/sap/dirigible/ide/template/ui/db/templates/table.table"
            text="Database Table">
      </template>
      <template
            category="DataStructures"
            image="/icons/view.png"
            location="/com/sap/dirigible/ide/template/ui/db/templates/view.view"
            text="Database View">
      </template>
      <template
            category="DataStructures"
            image="/icons/dsv.png"
            location="/com/sap/dirigible/ide/template/ui/db/templates/dsv.dsv"
            text="Delimiter Separated Values (DSV) Sample Data">
      </template>
   </extension>

</plugin>
