<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:camel="http://camel.apache.org/schema/spring"
	xmlns:cxf="http://camel.apache.org/schema/cxf"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
       http://camel.apache.org/schema/cxf http://camel.apache.org/schema/cxf/camel-cxf.xsd
       ">
       
    <!-- needed cxf imports -->
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

	<!-- Declaration of the Configuration Agent bean -->
	<bean id="configurationAgent" class="com.sap.dirigible.runtime.agent.ConfigurationAgent">
		<property name="serverInstanceId"><value>Dirigible-Static-Instance</value></property>
		<property name="configurationRoot"><value>/../</value></property>
	</bean>
	
	<!-- Declaration of the Camel to Javascript processing bean -->
	<bean id="js" class="com.sap.dirigible.runtime.camel.JavascriptBeanProcessor" />
	
	<!-- Declaration of the Camel to Ruby processing bean 
	<bean id="ruby" class="com.sap.dirigible.runtime.camel.RubyBeanProcessor" />
	-->
	
	<!-- Declaration of the Camel to Groovy processing bean 
	<bean id="groovy" class="com.sap.dirigible.runtime.camel.GroovyBeanProcessor" />
	-->
	
	<camelContext id="camel" xmlns="http://camel.apache.org/schema/spring">
	
	<!-- 
		<route id="testServletRoute">
			<from uri="servlet:///hello" />
			<choice>
				<when>
					<header>name</header>
					<transform>
						<simple>Hello ${header.name} how are you?</simple>
					</transform>
				</when>
				<otherwise>
					<transform>
						<constant>Add a name parameter to uri, eg ?name=foo</constant>
					</transform>
				</otherwise>
			</choice>
		</route>
    -->
    
	</camelContext>
	
</beans>
